body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #C0C0C0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
}

.titles h2 {
    text-align: center;
    font-size: 35px;
}

.table {
    display: grid;
    width: 60%;
    height: 45%;
    grid-template-columns: 1fr 1fr 1fr;
}

.bingo-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;
}

.card-number {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: white;
    align-items: center;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 40px;
}

.labeled {
    color: red;
    text-decoration: line-through;
}

.bingo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bingo-number {
    height: 130px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 60px;
    padding: 0;
    border: 1px solid black;
    border-radius: 30px;
    margin-bottom: 10px;
}

.number-list {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.number-list div {
    text-align: center;
    width: 20px;
    margin: 3px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
}